<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2020 Mental Wellbeing Team</p>
			<p>Site adapted from
			  <a href="https://github.com/mpa139/allanlab">Allan Lab</a>. See
			  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html"> for
				  details to use it for your own research group.</a>
			</p>
		</div>
		<div class="col-sm-4">
		  Contact: satra at mit dot edu<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
